<div>
  <hr>
  <p><%= current_year %>, by Gulamov Rovshen</p>
  <p>Test-Guru is a website for conducting tests</p>
  <p>
    <a href="thinknetica.com">Thinknetica</a> rails basics course's project <%= github %></a>
  </p>
</div>