<div>
  <hr>
  <p><%= current_year %>, by Gulamov Rovshen</p>
  <p>Test-Guru is a website for conducting tests</p>
  <div>
    <%= github_url('YaponEran','testGuru') %>
    <img src="https://pbs.twimg.com/media/De1g5bsXcAI0xEg.png:large" height='30px'>
  </div>
  <p>
    <a href="thinknetica.com">Thinknetica</a> rails basics course's project</a>
  </p>
</div>