<div>
  <hr>
  <p><%= t('footer.author', year: current_year) %></p>
  <p><%= t('footer.about') %></p>
  <div>
    <%= github_url('YaponEran','testGuru') %>
    <img src="https://pbs.twimg.com/media/De1g5bsXcAI0xEg.png:large" height='30px'>
  </div>
  <p>
    <%= link_to t('footer.thinknetica'), 'https://thinknetica.com', target: '_blank'%>
  </p>
</div>