<h1>All Tests</h1>
<%= link_to 'Create new Test', new_test_path %>
<table>
  <thead>
    <th>Title</th>
    <th>level</th>
    <th>Number of questions</th>
    <th colspan="4">Actions</th>
  </thead>
  <tbody>
      <%= render @tests %>
  </tbody>
</table>